html, body {
  height: 100%;
  width: 100%;
}

main.main {
  width: auto;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

span.required::after {
  display: block;
  content: "*";
  color: red;
  margin-left: 2px;
}

/* Calculator */

.calculator {
  padding: 10px;
  max-width: 700px;
  margin: auto;
  background-color: rgba(0, 0, 0, .05);
  border-radius: 10px;
}

.calculator main {
  padding: 10px;
  margin-top: 5px;
  border-radius: 10px;
  background-color: #FFF; 
}